<div class="container">
    <div class="row text-center">
        <h1>{{title}}</h1>
    </div>
    <div class="row">
        <div class="col-md-2">
            <stock-banner></stock-banner>
        </div>
        <div class="col-md-8">
            <stock-list [stocks]="stocks"></stock-list>
        </div>
    </div>
</div>