<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Stock Ticker</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="./app.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body ng-app="stockTicker">
<div class="container">
    <div class="row">

        <div class="col-md-2" ng-controller="stockBannerController">
        </div>

        <div class="col-md-8" ng-controller="stockListController">
            <h2>Stocks</h2>
            <ul>
                <li ng-repeat="stock in stocks">
                    {{stock.ticker}} - {{stock.name}} - {{stock.value}}
                </li>
            </ul>
        </div>

    </div>
</div>
</body>
</html>
