<div>
    <p>If you see stocks here it's working!</p>
    <ul>
        <li *ngFor="let stock of stocks">
            {{stock.name}}
        </li>
    </ul>
</div>
<div>
    <stock-form></stock-form>
</div>